################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoT.Backend/bin
/IoT.Backend/obj
/IoT.Device/bin
/IoT.Device/obj
*.config
*.cer
*.pfx
*.pem
/.vs
/IoT.Device/iothubx509device1
/IoT.Device/iothubx509device1
*/bin/*
*/obj/*
.idea/
*.csproj.user
/IoT.Backend.Wpf/App.config
/IoT.Backend.Wpf/iothubx509device1
